{% extends 'admintemplates/adminbase.html' %}
{% load static %}
{% block content %}
<html>
<head>
    <style>
        .card{
            background-color: #191919;
            margin: 10px;
            text-align: center;
            height: 150px;
            padding: 20px;
            }
        .text-default{
            color: white;
        }
        .card a {
                text-decoration: none;
                color: white;
        }
    </style>
</head> 
<body>      
    <div style="margin: 0px;" class="row">
        <div class="col-md-4">    
            <div class="card">
                    <a>
                        <div class="card-body">
                                        <i class="fa fa-user fa-4x" style="color:#fff"></i>
                                        <p><a href="{% url 'posapp:supplierlist' %}">Suppliers</a></p>
                        </div>
                   </a>
            </div>
            
        </div>

        <div class="col-md-4">
                <div class="card">
                        <i class="fa fa-tasks fa-4x" style="color:#fff"></i>
                        <div class="card-body">
                        <p><a href="{% url 'posapp:customerlist' %}">Customers</a></p>
                        </div>
                </div>
                
        </div>

        <div class="col-md-4">
                <div class="card">
                        <i class="fa fa-shopping-cart fa-4x" style="color:#fff"></i>
                        <div class="card-body">
                        <p><a href="{% url 'posapp:productslist' %}">Products</a></p>
                        </div>
                </div>
                
        </div>

        <div class="col-md-4">
                <div class="card">
                        <i class="fa fa-dollar fa-4x" style="color:#fff"></i>
                        <div class="card-body">
                        <p><a href="{% url 'posapp:saleslist' %}">Sales</a></p>
                        </div>
                </div>
                
        </div>

        <div class="col-md-4">
                <div class="card">
                        <i class="fa fa-th fa-4x" style="color:#fff"></i>
                        <div class="card-body">
                        <p><a href="{% url 'posapp:chart' %}">Reports</a></p>
                        </div>
                </div>
                
        </div>





    </div>


</body>     
</html>    
{% endblock %}